<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
<!--action me route specify krna vrna default route me existing path le lega -->
<!-- Redirect me "/register" h isliye action dena imp nhi default le lega.  -->
        <form method="post" action="/register" >
            
            <h1>Register</h1>
            <div class="box">
                <div class="info">

                    <label>Name</label><input type="text" name="name" placeholder="name">    
                    <label>Email</label><input type="email" name="email" placeholder="email">    
                    <label>Password</label><input type="password" name="password" placeholder="password">    
                    <button type="submit">Register</button>
                </div>
            </div>
            </form>


    </main>
</body>
</html>